  html {
      background-color: #146ab5;
      font-family: 'Oswald', sans-serif;
  }
  
  button {
      background-color: #146ab5;
  }
  
  #start {
      height: 100px;
      width: 200px;
      margin: 0;
      position: absolute;
      top: 38%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 50%;
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      border: none;
      font-size: 60px;
      font-family: 'Oswald', sans-serif;
      color: #fff;
  }

  #start:focus, #start:active, #correct:focus, #correct:active, #pass:focus, #pass:active, #playAgain:focus, #playAgain:active {
    outline: none;
  }

  #countdown, #word {
    position: absolute;
    top: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    font-size: 60px;
    width: 100%;
    text-align: center;
    color: #fff;
  }

  #timeLeft {
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    width: 100%;
    text-align: center;
    color: #95b0ca;
    font-size: 40px;
  }

  #correct {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 200px;
    font-size: 24px;
    color: #fff;
    border: none;
    display: none;
    font-family: 'Oswald', sans-serif;
  }

  #pass {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100px;
      width: 200px;
      font-size: 24px;
      color: #fff;
      border: none;
      display: none;
      font-family: 'Oswald', sans-serif;
  }

  #results {
      text-align: center;
      font-size: 18px;
  }

  .correct {
      color: #fff;
  }

  .incorrect {
      color: red;
  }

  #playAgain {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 200px;
    font-size: 24px;
    border: none;
    display: none;
    color: #fff;
  }